node_modules/
client/node_modules/
server/node_modules/
dist/
build/
release/
dist-electron/
*.log
.env
server/data/*
!server/data/banks.json
!server/data/bank-logos/
.env.cicd
.vercel/
client/.vercel/
logs/
tools/cloudflared.exe
_github_runner/
.tmp/
update.finished
